body, html{
  margin:0;
  padding:0;
 
}

body{
  background-image: linear-gradient(to right,
  rgb(20, 21, 44), 
  rgb(20, 29, 44),
  /* rgb(53, 39, 29), */
  rgb(20, 29, 44),
  rgb(20, 21, 44));
}

#root {
  box-sizing: border-box;
  padding-inline-start: 40px;
  max-width: 1280px;
  inline-size:960px;
  block-size:100vh;
  margin-inline: auto;
  background-color:rgb(68, 78, 80);
  background: linear-gradient(217deg, rgba(32, 45, 45, 0.7), rgba(53, 39, 39, 0) 50%),
            linear-gradient(127deg, rgba(32, 45, 43, 0.7), rgba(0,100,0,0) 70.71%), 
            linear-gradient(336deg, rgba(32, 32, 45, 0.7), rgba(0,0,100,0) 70.71%);
  box-shadow: 
  -3px 0px 30px rgba(0, 255,255, .2),
  3px 0px 30px rgba(255, 0,255, .2),
  inset 5px 0px 20px rgba(150,250, 255, .2) 
  ;
}




